


#all-posts {
    margin: 7rem auto;
    width: 90%;
    max-width: 60rem;
    
}



#all-posts h2 {
    text-align: center;
    font-size: 2rem;
    color: #2e2e2e;
    margin: 3rem 0;
}

#all-posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 1.5rem;
}


.post a {
    height: 20rem;
}

.post{
    margin-bottom: .2em;
}

@media screen and (max-width: 994px) {
   
    #all-posts {
    
        max-width: 50rem;
        
    }
    
    .post a {
        height: 18rem;
    }

  
  }
  @media screen and (max-width: 624) {
    .post a {
        height: 15rem;
    }
  }
