@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  margin: 0;
}
body {
  background-color: #e7e7e7;
}




h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  
}






#main-navigation {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 2%;
  position: absolute;
  top: 0;
  left: 0;
}

#main-navigation img{
  height: 80px;
  width: 80px;
}
#main-navigation h1{
  margin: 10px 0px 0px 10px;

}
#main-navigation nav{
  margin: 15px 0px 0px 0px;
  position: absolute;
  right: 2%;

}
#main-navigation a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#main-navigation a:hover,
#main-navigation a:active {
  color: #cf79f1;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
  color: white;
}


#main-navigation {
  background-color: #390281;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 556px) {
  #main-navigation img{
    height: 60px;
    width: 60px;
  }
  #main-navigation h1{
    font-size:20px ;
  }
  #main-navigation nav{
    font-size:14px ;
  }
}

@media screen and (max-width: 382px) {
  #main-navigation img{
    height: 50px;
    width: 50px;
  }
  #main-navigation h1{
    font-size:18px ;
    margin-bottom: 5px;
  }
  #main-navigation nav{
    font-size:14px ;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 346px) {
  #main-navigation img{
    height: 40px;
    width: 40px;
  }
  #main-navigation h1{
    font-size:16px ;
    margin-bottom: 10px;

  }
  #main-navigation nav{
    font-size:12px ;
    margin-bottom: 10px;

  }
}